/* App.css or the respective CSS file */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico&display=swap');



:root {
  --primary-color: #D9822B; /* Pumpkin orange for primary actions */
  --accent-color: #4A766E; /* Sage green for accents and highlights */
  --text-color: #333333; /* Charcoal gray for text */
  --background-color: #FAF3DD; /* Soft cream for backgrounds */
  --navbar-color: #8C5A2C; /* Darker shade for the navbar */
}

/* Ensure the navigation bar extends full width and sticks to the top */
.navbar {
  position: sticky;
  top: 0px; /* Adjust based on the height of your search bar */
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--navbar-color);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Adding a subtle shadow for depth */
}
/* Override container padding for full-width adjustment if needed */
.navbar .container,
.navbar .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #ffffff; /* White text for contrast */
}

.btn-primary:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: #ffffff;
}

/* Adjust the brand logo and navigation links if necessary */
.navbar-brand, .navbar-nav .nav-link {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* You may need to adjust this if you want more padding around the items */
body {
  padding-top: 120px; /* Adjust based on the height of your navbar */
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Times New Roman', Serif;
}
p, p1, p2 {
  font-family: 'Arial',Sans-serif
}

.search-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.featured-recipe {
  background-image: url('path-to-your-image.jpg');
  background-size: cover; /* Ensures the image covers the div */
  background-position: center; /* Centers the image within the div */
  height: 200px; /* Or whatever height you desire */
}
button {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  cursor: pointer;
  margin-right: 5px;
}

button.selected {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}
.member-only .nav-tabs .nav-link {
  background-color: #fff09b; /* Golden color */
}
