/* App.css */

/* Ensure the carousel takes up less vertical space */
.carousel-image {
    max-height: 250px; /* Adjust the max-height to your preference for banner size */
    width: 100%;
    object-fit: cover; /* This will cover the area of the img tag without stretching the image */
  }
  
  /* Optional: You may want to style the Carousel.Caption for better visibility over images */
  .carousel-caption {
    background: rgba(0, 0, 0, 0.5); /* Dark semi-transparent background */
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
  
  /* Sidebar.css */

/* Container for filter section */
.filter-section {
    background-color: #fff; /* White background */
    padding: 15px; /* Padding around the filter section */
  }
  
  /* Styling for headings */
  .filter-section h6 {
    margin-bottom: 15px; /* Space below headings */
    font-size: 16px; /* Font size for headings */
  }
  
  /* Styling for form check inputs */
  .filter-section .form-check {
    margin-bottom: 10px; /* Space below each checkbox */
  }
  
  .filter-section .form-check-input {
    margin-top: 0; /* Align checkbox vertically with label */
    margin-right: 5px; /* Space between checkbox and label */
  }
  